
.navbar-inverse {
    background-color: #c8221f;
    border-color: #080808;
}

.date {
    text-align: center;
    background-color: #c8221f;
    color: white;
    width: 60px;
    border-radius: 8px;
}


.details {
    position: relative;
    left: 70px;
    bottom: 40px;
}



.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1050;
}
