.navbar-inverse {
    background-color: #31708f;
    border-color: #080808;
}
/*Course*/
.course{
    list-style:none;
}
.course > li{
    position: relative;
}
.course >li.date{
    text-align:center;
    background-color:white;
    width:60px;
    border-radius: 8px;
}
.course >li.details{
    position: absolute;
    top: 0;
    left: 70px;
}